#searchSuggestions {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#searchSuggestions li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}
#searchSuggestions li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#arrOffset {
  padding-left: 10px;
}

.center-img,
.center-txt {
  display: inline-block;
  vertical-align: middle;
}
#container {
  margin-top:-1px;
  text-align: left;
  border: 1px solid black;
}

.btn-gradient.red{ 
	background: rgba(250,90,90,1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(250,90,90,1)), to(rgba(232,81,81,1)));
	background: -webkit-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: -moz-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: -o-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 );
}

.btn-gradient.green {
	background: rgba(28, 197, 28,1);
	background: -moz-linear-gradient(top, rgba(28, 197, 28,1) 0%, rgba(28, 197, 28,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28, 197, 28,1)), color-stop(100%, rgba(28, 196, 26,1)));
	background: -webkit-linear-gradient(top, rgba(28, 197, 28,1) 0%, rgba(28, 196, 26,1) 100%);
	background: -o-linear-gradient(top, rgba(28, 197, 28,1) 0%, rgba(28, 196, 26,1) 100%);
	background: -ms-linear-gradient(top, rgba(28, 197, 28,1) 0%, rgba(28, 196, 26,1) 100%);
	background: linear-gradient(to bottom, rgba(28, 197, 28,1) 0%, rgba(28, 196, 26,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c8a0', endColorstr='#82c79e', GradientType=0 );
  font-size: large;
}

.btn-gradient.cyan {
	background: rgba(27,188,194,1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(27,188,194,1)), to(rgba(24,163,168,1)));
	background: -webkit-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
	background: -moz-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
	background: -o-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
	background: linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bbcc2', endColorstr='#18a3a8', GradientType=0);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  text-align: right;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}